@import "tailwindcss";
@import "geist/font/sans";
@import "geist/font/mono";

@source "../../packages/ui/src";

:root {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-sans);
  background: #0a0a0a;
  color: #fafafa;
}
